@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$font-1: "Roboto", sans-serif;
$color-1: rgb(59, 147, 27);
$color-2: rgba(242, 133, 0, 1);
// Base;
* {
  box-sizing: border-box;
  font-family: $font-1;
}
main {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gras {
  color: rgb(213, 118, 1);
}
/*  VERT & ORANGE
 background: rgb(59, 147, 27);
  background: linear-gradient(
    210deg,
    rgb(59, 147, 27) 79%,
    rgba(242, 133, 0, 1) 79%
  );
 */
.Green {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #adb5b7,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #adb5b7,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
  list-style-type: none;
}
a.nav-link {
  color: white;
}
a {
  color: white;
}

a.nav-link:hover {
  color: rgb(253, 110, 0);
}

.ssligne {
  margin-bottom: 10px;
}

.ssligne:after {
  display: block;
  height: 5px;
  background: rgb(59, 147, 27);
  background: linear-gradient(
    218deg,
    rgb(59, 147, 27) 50%,
    rgba(242, 133, 0, 1) 50%
  );
  width: 100px;
  content: "";
  margin: 0 auto;
}
.ssligne2 {
  margin-bottom: 10px;
}

.ssligne2:after {
  display: block;
  height: 4px;
  background: rgba(242, 133, 0, 1);
  background: linear-gradient(
    220deg,
    rgba(242, 133, 0, 1) 50%,
    rgb(143, 143, 143) 50%
  );
  width: 100px;
  content: "";
  margin: 0 auto;
}
.scale:hover {
  transform: scale(1.06);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}
.linkb {
  color: black;
  text-decoration: none;
}
.linkb:hover {
  color: black;
  text-decoration: none;
}

.linkw {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.linkw:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  margin: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: #ff512f;
  border-radius: 15px;
  text-decoration: none;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
  &:hover {
    transform: scale(1.1, 1.1);
  }

  &:active {
    transform: scale(1.05, 1.05);
  }
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.justif {
  text-align: justify;
  text-justify: inter-word;
}
.img-border {
  border-radius: 15px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.8s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.user {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  color: transparent;
}
.user:after {
  display: block;
  height: 3px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  width: 150px;
  content: "";
  margin: 0 auto;
}
