.banner1 {
  background-image: url(../../assets/images/1h.webp);
  background-size: cover;
  background-position: 75% top;
  min-height: 60vh;
  color: #fff;
}
.banner2 {
  background-image: url(../../assets/images/2.webp);
  background-size: cover;
  background-position: 100%;
  width: 100%;
  min-height: 60vh;
  color: #fff;
}
.banner3 {
  background-image: url(../../assets/images/3.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff;
}
.banner4 {
  background-image: url(../../assets/images/4.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff;
}
.banner5 {
  background-image: url(../../assets/images/5.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff;
}

.banner6 {
  background-image: url(../../assets/images/6.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff;
}

.banner7 {
  background-image: url(../../assets/images/7.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff;
}

.banner8 {
  background-image: url(../../assets/images/8.webp);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  color: #fff;
}
.banner9 {
  background-image: url(../../assets/images/9.webp);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  color: #fff;
}
.banner10 {
  background-image: url(../../assets/images/10.webp);
  background-size: cover;
  min-height: 60vh;
  color: #fff;
}



.event {
  background-image:linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.6),
    rgba(149, 149, 149, 0.7),
    rgba(100, 100, 100, 0.4)
  ), url(../../assets/images/1.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  min-height: 25vh;
}
