.banner1 {
    background-image:
      url(../../assets/images/1.webp);
    background-size: cover;
    background-position: 100%;
    min-height: 60vh;
    color: #fff;
  }
.banner2 {
    background-image:
    url(../../assets/images/2.webp);
  background-size: cover;
  background-position: 100%;
  width:100%;
  min-height: 60vh;
  color: #fff; 
}
.banner3 {
    background-image:
    url(../../assets/images/3.jpg);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff; 
}
.banner4 {
    background-image:
    url(../../assets/images/4.webp);
  background-size: cover;
  background-position: 100%;
  min-height: 60vh;
  color: #fff; 
}